body{
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    margin-top: 0.5%;
}
#digitado{
    width: 100%;
    height: 100%;
}
#tela{
    height: 600px;
    width: 500px;
    position: relative;
    margin: auto;
    overflow: hidden;
    border-color: rgb(242, 255, 59);
}
#button1{
    width: 25%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.377);
    position: relative;
    float:left;
}
#button2{
    width: 25%;
    height: 100%;
    background-color: rgba(0, 102, 255, 0.377);
    position: relative;
    float:left;

}
#button3{
    width: 25%;
    height: 100%;
    background-color: rgb(21, 255, 0, 0.377);
    position: relative;
    float:left;
}
#button4{
    width: 25%;
    height: 100%;
    background-color: rgb(174, 0, 255, 0.377);
    position: relative;
    float:left;
}
.letra1{
    width: 50px;
    height: 50px;
    background-color: rgb(61, 61, 61);
    position: absolute;
    margin-top: 600px;
    font-size: 50px;
    text-align: center;
    color: white;
    padding: 0px;
    border-color:rgb(13, 255, 255); outline: none; box-shadow: 0px 0px 10px 4px rgb(13, 255, 255);
    border-radius: 3px;
}
#start{
    width: 300px;
    height: 150px;
    background-color: rgb(240, 57, 93);
    margin-top:150px;
    border-radius: 20px;
    font-size: 100px;
    font-family:fantasy;
    box-shadow: 2px 2px 2px 2px rgb(174, 0, 255);
}
#button5{
    height: 600px;
    width: 500px;
    background-color: rgba(5, 5, 5, 0);
    position: relative;
}
.letra2{
    width: 300px;
    height: 70px;
    background-color: rgb(240, 57, 93);
    box-shadow: 2px 2px 2px 2px rgb(174, 0, 255);
    position: absolute;
    margin-top: 600px;
    margin-left: 100px;
    font-size: 35px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 30px;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 3px;
}
@keyframes block{
    0% {margin-top:-50px}
    100%{margin-top:600px}
}
